*
{
    margin:0;
    padding: 0;
}
/*----------Navigation--------*/
#nav-bar
{
    position:sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img
{
height: 40px;
padding-left: 30px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff!important;
}
.navbar
{
    background: #fff;
}
.navbar-toggler
{
    border: none!
}
.nav-link
{
    color: #555!important;
    font-weight: 600p;
    font-size: 16px3;
}
/*------Slider------*/
#slider
{
    width: 100%;
}
.carousel-caption
{
    top:50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5{
    color: black;
    font-size: 42px;
}
/*-----------ABOUT----------*/
#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#about .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content
{
    padding-top: 20px;
}
.skills-bar p{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress-bar
{
    border-radius: 16px;


}
.progress-bar{
    border-radius: 16px !important;
    margin-bottom: 20px;
}
/*---------SERVICES---------*/
#services
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("images/back.jfif");
    background-size: cover;
    background-position: center;
    color: #ffffff !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1
{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}
#services h1::after
{
    content: '';
    background: pink;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.icon
{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
}

/*------PRICING------*/
#price
{
    padding: 40px 0;
    background: #efefef;

}
.single-price
{
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: cornflowerblue;
    transition: 0.5s;
}
.single-price:hover
{
    box-shadow: 0 2px 20px;
}
.price-head
{
    background-color: crimson;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width:100%
}
.price-head h2{
font-size: 25px;
color: darkolivegreen;
font-weight: bold;
margin-bottom: 5px;
text-transform: uppercase;
}
.price-head p{
    font-size:  25px;
    color: darkred;
    font-weight: bold;
}
/*-------GET IN TOUCH--------*/
#contact
{
    background: dimgray;
    padding-top: 40px;
    padding-bottom: 40px;
    color:black;
}
.contact-form
{
    padding: 15px;
}
.form-control
{
    border-radius: 0 !important;
    border: none !important;
}























